
*{
    padding:5px;
}

.jumbotron{
    padding:0;

}

.background-img{
    background-color:rgba(255, 221, 132,1);
    background-image: url("Images/background_.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.nav{
    color:white;
    padding:5px;
}

.navbar-header{
    color:white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:rgba(255, 0, 0, 0.4);

}
label{
    margin:0px;
}
.btn-primary{

    -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 3px #473247;
  -moz-box-shadow: 0px 1px 3px #473247;
  box-shadow: 0px 1px 3px #473247;
  color: #ffffff;
  background: #ba4e4e;
  padding: 10px 20px 10px 20px;
  border: solid #000000 0px;
  text-decoration: none;

}

.btn-primary:hover {
  background: #bd8282;
  text-decoration: none;
}


.whiteBox{
    background-color:rgba(255, 255, 255, 0.6);
    padding:30px;
}

vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.table-striped>tbody>tr:nth-child(odd)>th {

}
.table-striped>tbody>tr:nth-child(odd)>td{

}

