/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.02.2016, 08:57:15
    Author     : Brian
*/

* {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 16px;
    color:#000;
}
Img{
    height:25%;
    width:25%;
}
header {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    align-item: center;
    align-content: center;
    order: 0;
    margin-top: 0px;
    height: 25%;

    
}

/*This Containter contains and organizes the fundamental structure of the webpage
	contains: Header, Nav,Mainsection footer etc. */
#flexContainer {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content:space-around;
    align-item: stretch;
    min-height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */

}

body {


background: linear-gradient(to bottom,  #000000 0%,#6d4a4b 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding:2%;
    min-height:100%;

}

#InputElements{
    

    background:rgba(255,255,255,0.2);
    
   display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
        flex: 0 1 100%;

    
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-top: 1%;
    -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   
}

Input{
    width:20%;
    height:10%;
}